@charset "utf-8";
/* Global style */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  font-weight: normal;
}
html,
body,
fieldset,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
  font-weight: 300;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
  content: '';
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
em,
strong,
b {
  font-weight: 400;
}
textarea,
input,
button,
select,
keygen,
legend {
  color: #777;
  outline: 0;
  font-family: "Microsoft YaHei", Arial;
  font-size: 100%;
  margin: 0;
  outline: none;
  vertical-align: baseline;
  _overflow: visible;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
}
a {
  color: #333;
  border: none;
  text-decoration: none;
  outline: none;
}
a:focus {
  outline: 0;
  outline-style: none;
}
img {
  overflow: hidden;
  border: 0 none;
}
html {
  text-align: center;
  background-color: #f5f5f5!important;
  overflow: hidden;
}
[v-cloak] {
  display: none!important;
}
html,
body {
  background: url("../img/bg.png");
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.flex-col,
.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: inline-flex;
  display: -ms-inline-flexbox;
}
.flex-col {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-col.flex-y-center {
  -webkit-justify-content: center;
  justify-content: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
}
.flex-col.flex-top {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: start;
}
.flex-col.flex-bottom {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-justify-content: flex-end;
  -ms-flex-pack: end;
}
.flex-col.flex-x-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.flex-col.flex-left {
  align-items: flex-start;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start;
}
.flex-col.flex-right {
  align-items: flex-end;
  -ms-align-content: flex-end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  -ms-flex-line-pack: end;
}
.flex-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flex-row.flex-x-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
.flex-row.flex-y-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
.flex-row.flex-left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: start;
}
.flex-row.flex-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -ms-justify-content: flex-end;
  -ms-flex-pack: end;
}
.flex-row.flex-bottom {
  align-items: flex-end;
  -ms-align-content: flex-end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  -ms-flex-line-pack: end;
}
.flex-row.flex-top {
  align-items: flex-start;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start;
}
.flex-row.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -ms-flex-pack: justify;
}
.flex-row.flex-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.flex-col.flex-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-justify-content: space-around;
  -ms-flex-pack: justify;
}
.flex-col.flex-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-justify-content: space-between;
  -ms-flex-pack: justify;
}
.index {
  width: 700px;
}
.index .choice {
  margin-top: 40px;
  color: #e4af0a;
  font-size: 48px;
}
.index .choice select {
  border: none;
  background: rgba(0, 0, 0, 0);
  text-align: center;
}
.index .choice select option {
  border: none;
  text-align: center;
  color: #e4af0a;
  font-size: 48px;
}
.index .choice .icon-select img {
  width: 25px;
  height: 15px;
}
.index .title {
  margin-top: 40px;
  width: 700px;
}
.index .title p {
  font-size: 72px;
  font-weight: 600;
  color: #000;
}
.index .lists {
  margin-top: 20px;
  width: 700px;
}
.index .lists .list-border {
  margin-top: 20px;
  width: 700px;
  height: 120px;
  border-radius: 20px;
  border: 3px solid #c9c9c9;
}
.index .lists .list-border:hover {
  box-shadow: 1px 1px 5px #999;
}
.index .lists .list-border .list {
  width: 660px;
  height: 100px;
}
.index .lists .list-border .list .titlesTime {
  width: 660px;
}
.index .lists .list-border .list .titlesTime .titles p {
  font-size: 36px;
  color: #464646;
}
.index .lists .list-border .list .titlesTime .time p {
  font-size: 30px;
  color: #737373;
}
.index .lists .list-border .list .content {
  width: 660px;
}
.index .lists .list-border .list .content .text p {
  font-size: 30px;
  color: #737373;
}
.index .lists .list-border .list .content .delect img {
  width: 22px;
  height: 22px;
}
.index .lists .finishT {
  border: 3px solid #7bc4dc;
}
.index .lists .overT {
  border: 3px solid #dc7b86;
}
.index .tip {
  margin-top: 100px;
  font-size: 24px;
  color: #432b7a;
}
.index .bottomFunction {
  position: fixed;
  bottom: 30px;
  width: 700px;
}
.index .bottomFunction .f1 img {
  width: 42px;
  height: 42px;
}
.index .bottomFunction .note p {
  font-size: 24px;
  color: #000;
}
.index .bottomFunction .f2 img {
  width: 40px;
  height: 40px;
}
.addList {
  margin-top: 40px;
  width: 700px;
}
.addList .headPosition {
  width: 700px;
}
.addList .headPosition .left .leftBack-icon img {
  width: 24px;
  height: 41px;
}
.addList .headPosition .left .leftBack-text {
  margin-left: 20px;
}
.addList .headPosition .left .leftBack-text p {
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 36px;
  color: #e4af0a;
}
.addList .headPosition .right p {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 36px;
  color: #e4af0a;
}
.addList .textTitle {
  margin-top: 40px;
  width: 700px;
}
.addList .textTitle .smallHead p {
  font-size: 36px;
  color: #464646;
  font-weight: 700;
}
.addList .textTitle .textTitle-input {
  margin-top: 10px;
}
.addList .textTitle .textTitle-input input {
  width: 700px;
  height: 65px;
  border-radius: 20px;
  border: 3px solid #c9c9c9;
  color: #737373;
}
.addList .textContent {
  margin-top: 20px;
  width: 700px;
  position: relative;
}
.addList .textContent .smallHead p {
  font-size: 36px;
  color: #464646;
  font-weight: 700;
}
.addList .textContent .textContent-input {
  margin-top: 10px;
  width: 700px;
  border-radius: 20px;
  border: 3px solid #c9c9c9;
  color: #737373;
}
.addList .textContent .textContent-input textarea {
  width: 700px;
  height: 300px;
  font-size: 30px;
  border: none;
  color: #737373;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  text-indent: 10px;
}
.addList .textContent .textContent-input p {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 17px;
  color: #737373;
}
.addList .textTime {
  margin-top: 20px;
  width: 700px;
}
.addList .textTime .smallHead p {
  color: #464646;
  font-size: 36px;
  font-weight: 700;
}
.addList .textTime .textTime-input {
  margin-top: 10px;
  height: 65px;
  border-radius: 20px;
  border: 3px solid #c9c9c9;
  width: 700px;
}
.addList .textTime .textTime-input input {
  color: #737373;
}
.addList .textTime .textTime-input input[type='time'] {
  width: 120px;
}
.addList input {
  border: none;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  text-indent: 10px;
}
.changeList {
  margin-top: 40px;
  width: 700px;
}
.changeList .headPosition {
  width: 700px;
}
.changeList .headPosition .left .leftBack-icon img {
  width: 24px;
  height: 41px;
}
.changeList .headPosition .left .leftBack-text {
  margin-left: 20px;
}
.changeList .headPosition .left .leftBack-text p {
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 36px;
  color: #e4af0a;
}
.changeList .headPosition .right p {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 36px;
  color: #e4af0a;
}
.changeList .textTitle {
  margin-top: 40px;
  width: 700px;
}
.changeList .textTitle .smallHead p {
  font-size: 36px;
  color: #464646;
  font-weight: 700;
}
.changeList .textTitle .textTitle-input {
  margin-top: 10px;
}
.changeList .textTitle .textTitle-input input {
  width: 700px;
  height: 65px;
  border-radius: 20px;
  border: 3px solid #c9c9c9;
  color: #737373;
}
.changeList .textContent {
  margin-top: 20px;
  width: 700px;
  position: relative;
}
.changeList .textContent .smallHead p {
  font-size: 36px;
  color: #464646;
  font-weight: 700;
}
.changeList .textContent .textContent-input {
  margin-top: 10px;
  width: 700px;
  border-radius: 20px;
  border: 3px solid #c9c9c9;
  color: #737373;
}
.changeList .textContent .textContent-input textarea {
  width: 700px;
  height: 300px;
  font-size: 30px;
  border: none;
  color: #737373;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  text-indent: 10px;
}
.changeList .textContent .textContent-input p {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 17px;
  color: #737373;
}
.changeList .textTime {
  margin-top: 20px;
  width: 700px;
}
.changeList .textTime .smallHead p {
  color: #464646;
  font-size: 36px;
  font-weight: 700;
}
.changeList .textTime .textTime-input {
  margin-top: 10px;
  height: 65px;
  border-radius: 20px;
  border: 3px solid #c9c9c9;
  width: 700px;
}
.changeList .textTime .textTime-input input {
  color: #737373;
}
.changeList .textTime .textTime-input input[type='time'] {
  width: 120px;
}
.changeList input {
  border: none;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  text-indent: 10px;
}
.changeList .bottomFunction {
  position: fixed;
  bottom: 30px;
  width: 700px;
}
.changeList .bottomFunction .f1 img {
  width: 36px;
  height: 32px;
}
.changeList .bottomFunction .f2 img {
  width: 49px;
  height: 35px;
}
